.button {
  min-width: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  padding: 5px;
  border: 1px solid grey;
  background-color: lightgrey;
  color: darkblue;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  transition: background-color 1s;

  &:hover {
    background-color: darkgrey;
  }
}

.buttonSelected {
  background-color: white;

  &:hover {
    background-color: white;
  }
}

.checkbox {
  color: transparent;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1px;
}

.checkboxSelected {
  color: red;
}
