.box {
  min-width: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background-color: #e4e4e4;
  font-size: 18px;
  position: relative;
}

.button {
  background-color: #323232;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: absolute;
  right: -5px;
  top: -5px;
  padding: 2px 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color 1s;

  &:hover {
    background-color: #ffffff;
    color: #323232;
    border-color: #323232;
  }
}
