.app {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.selector-container {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: center;
  padding: 20px;
  gap: 16px;
  border: 1px solid black;
  border-radius: 5px;
}

.selector-container__row {
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.box--stretch {
  align-items: stretch;
  justify-content: flex-start;
}

.selector-container__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}
