.app {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: center;
  padding: 25px 15px 15px;
  gap: 30px;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  box-shadow: #323232 1px 1px 2px;
}

.container__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.container__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 10px;
  width: 100%;
}

.container__grid--list {
  column-gap: 10px;
  row-gap: 15px;
}
